*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
}

li{
    list-style-type: none;
}



/* intestazione pagina */
#intestazione{
    background-image: url(../img/jumbo.png);
    min-height: 584px;
    background-size: cover;
}

#top-bar{
    width: 80%;
    height: 75px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}


.menu-column{
    width: 500px;
}

.item-row{
    display: flex;
    justify-content: space-between;
}



.list-menu{
    color: white;
    text-decoration: none;
}



.button{
    padding: 10px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 20px;
}

.button-white{
    background-color: white;
    color: black;
}

.button-black{
    background-color: black;
    color: white;
}

#button-container{
    text-align: center;
    margin-top: 40px;
}

.jumbotron{
    width: 80%;
    margin: auto;
    color:white;
    text-align: center;
}

.titolo{
    margin-top: 150px; 
    margin-bottom: 40px;  
    font-size: 40px;
}

.descrizione-titolo{
    font-size: 20px;
}



/* regole sezione main */

.column-container{
    display: flex;
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    
} 

.grey{
    background-color: rgba(246,246,246,255);
    
}

.bg-column{
    width: 60%;
}

.small-column{
    width: 40%;
}

.titolo-sezione{
    font-size: 50px;
    margin-bottom: 20px;
}

.paragrafo-sezione{
    font-size: 20px;
}



.last-column{
    width: 100%;
    text-align: center;
    padding: 20px;

}

.sottotitolo-sezione{
    font-size: 35px;
    margin-bottom: 20px;
}

.button-pink{
    color: white;
    background-color: rgba(114,137,218,255);
}



/* footer */



footer{
    background-color: rgba(35,39,42,255);
    
}


.titolo-pink{
    color: rgba(114,137,218,255);
    font-size: 30px;
    margin-bottom: 15px;
}

.titolo-small{
    font-size: 18px;
}

#italia{
    width: 28px;
}

.lingua{
    margin: 20px 0;
    color: white;
}

.fa-brands{
    padding: 10px;
    width: 30px;
}



.column{
    margin: 50px 0;

}

.item-column{
    display: flex;
    flex-direction: column;
}

.item{
    padding: 10px 0;
    text-decoration: none;
    color: white;
}

.padding{
    padding: 5px 0;
}

.contenitore{
    width: 80%;
    margin: auto;
}

hr{
    margin-bottom: 20px;
}

.last{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
