*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



/* intestazione pagina */
#intestazione{
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
}

#top-bar{
    width: 80%;
    height: 75px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}


.menu-column{
    width: 500px;
}

ul{
    display: flex;
    justify-content: space-between;

}

li{
    list-style-type: none;
}

.list-menu{
    color: white;
    text-decoration: none;
}

.button{
    padding: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 40px;
    
    
}

.jumbotron{
    width: 80%;
    margin: auto;
    color:white;
}

.titolo{
    text-align: center;
    margin-top: 150px; 
    margin-bottom: 40px;  
    font-size: 40px;
}

.descrizione-titolo{
    font-size: 20px;
    text-align: center;
}

.button-main{
    font-size: 20px;

}

.button-black{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    font-size: 20px;
}

#button-container{
    text-align: center;
    margin-top: 40px;
}




/* regole sezione main */

.column-container{
    display: flex;
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    
} 

.grey{
    background-color: rgba(246,246,246,255);
    
}

.bg-column{
    width: 60%;
}

.small-column{
    width: 40%;

    /* DEBUG */
    /* min-height: 400px;
    background-color: pink; */
}

.titolo-sezione{
    font-size: 50px;
    margin-bottom: 20px;
}

.paragrafo-sezione{
    font-size: 20px;
}



.last-column{
    width: 100%;
    text-align: center;
    padding: 20px;

}

.sottotitolo-sezione{
    font-size: 35px;
    margin-bottom: 20px;
}

.button-pink{
    color: white;
    background-color: rgba(114,137,218,255);
}



/* footer */



footer{
    background-color: rgba(35,39,42,255)
    
}

.last{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#big-column{
    margin: 20px 0;

    /* DEBUG */
    min-height: 300px;
    width: 20%;
    background-color: aqua;

}

.column{
    margin: 20px 0;

    /* DEBUG */
    min-height: 300px;
    width: 15%;
    background-color: aqua;
}

.contenitore{
    width: 80%;
    margin: auto;
}

hr{
    margin-bottom: 20px;
}